body {
    background:#E5E8E6;
}

/* .main {

    width: 80%;
    display:block;
    height: 90%;
    min-width: 60%;
    background: white;
    border-radius: 3%;
    margin: 50px 100px ;
}

.sidebar {

    width: 30%;
    height: 900px;
    position: relative;
    border-right: 1px solid rgb(202, 195, 195);
}

*/


.container {
    display: flex;
    width: 90%;
    height: 90%;
    min-width: 60%;
    background: white;
    border-radius: 3%;
    margin: 50px 100px ;
  }
  

  .logo {
    position: relative;
    top:50px;
    right:30px;
    display: flex;
    align-items: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 20px;
    color:orangered;
    justify-content: center;
    
    } 
    

  .sidebar {
    height: 1000px;
    width: 300px; /* A fixed width as the default */
    border-right: 1px solid rgb(202, 195, 195);
  }
  
 

  .menu {
    margin-top:80px;
    margin-left:20px;
    border-radius: 3%;
    background: #F8F9F8;
    width: 250px;
    height:300px;

  }

  .menu ul li {
      padding-top:20px;
      padding-left: 10px;
      margin-left:30px;
      line-height: 35px;
  }


  .menu ul li a {

    text-decoration: none;
    margin-left:10px;
    color:gray;
    font-size:20px;
    
  }

  .fa-ellipsis-h {
      color:orangered;
  }

  .menu ul li a:hover{
   
    color:orangered;
    text-shadow:2px 2px 8px #FF0000;
    
  }


  .info-icon {

    margin-top:20px;
    margin-left:20px;
    border-radius: 3%;
    background: #F8F9F8;
    width: 250px;
    height:100px;

  }

 
.fa-microphone {

    color:rgb(241, 247, 241);
    margin-left: 15px;
    margin-top:20px;
    background: rgb(70, 10, 148);
    padding: 8px 18px;
    border-radius: 40%;
}

.fa-microphone:hover {

 background: peru;
 color:black;

}

.info-icon a {
    margin-left:15px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(15, 15, 15);
    font-size:15px;
    font-weight: 600;

  }

  .info-icon p {

    margin-left:85px;
    font-size:16px;
    color:gray;
  } 


  .stats {
    margin-top:20px;
    margin-left:20px;
    border-radius: 3%;

    width: 250px;
    height:200px;

  }


  .stats ul li {
 
    border-radius: 3%;
    background: #F8F9F8;
    width: 100px;
    display: inline-block;
    margin:10px;
    height:170px;
    

  }

  .fa-battery-three-quarters {

    margin-top:10px;
    margin-left:10px;
    color:rgb(33, 175, 33);
  }

  .fa-battery-three-quarters:hover {

   color:red;
  }


  .stats h3 {
 
   font-size:17px;
   margin-top:50px;
   margin-left:25px;
   font-weight: 600;
   font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
  }

.stats h4 {

    font-size:14px;
    color:gray;
    margin-top:5px;
    margin-left:25px;
}

.author-sign {

    margin-top:20px;
    display:flex;
    margin-left:20px;
    border-radius: 3%;
    background: #F8F9F8;
    width: 250px;
    height:100px;

}

.author-sign img {

  width: 100%;
  height:100%;
  
}

.author-sign h3 {
 
  font-size:17px;
  margin-top:40px;
  /* margin-left:65px; */
  font-weight: 600;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   
 }


 /** END OF SIDEBAR **/

 .content-main { 
  flex-grow: 1; /* Set the middle element to grow and stretch */

}

.navbar ul {

  margin-left:50px;
  display:inline-block;


}

.navbar ul li {
  width: 60px;
  display: flex;
  height: 50px;
  display:inline-block;
  margin:80px 10px;

}

.navbar img {
  width: 100%;
  height: 100%;
}

.search-container {
  display:inline-block;
  padding-left: 80px;
  width: 300px;
}

.placehold {

  width: 200px;
  background:  #F8F9F8;
  border:none;
  border-radius: 10%;
  height: 40px;
  text-align: center;
  outline:none;
}

.search-container button {
  
  margin-left:25px;
  border:none;
  width: 60px;
  height: 40px;
  background: orangered;
  border-radius: 10%;
 
}

.fa-search {

  color:white;
}

.fa-search:hover {
 
  color:yellowgreen;
  
}


.section {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 600px;
  
  
}

.content-size {
  width: 280px;
  display: inline-block;
  border-radius: 10%;
 margin-top:50px;
  height: 450px;
  border:1px solid black;
  margin-left:25px;
  /* background: gray; */
  
}


.content-size img {
  width: 100%;
  margin:0 auto;
  border-radius:10%;
  height:100%;
  display: block;

}
 
.right-box{

  position: absolute;
  display: inline-block;
  right:150px;
}

.right-box-upper {

  width: 400px;
  border-radius: 10%;
  margin-top:50px;
  border:1px solid black;
  height: 200px;
  margin-left:25px;
  /* background: gray; */
}


.right-box-upper img {
  width:100%;
  height:100%;
  border-radius: 10%;
  display: block;
  margin: 0 auto; 
}


.right-box-half {

  width: 150px;
  display: inline-block;
  border-radius: 10%;
  margin-top:50px;
  height: 200px;
  
  margin-left: 50px;
  /* background: gray; */
}


.right-box-half img {
  width:100%;
  height:100%;
  border-radius: 10%;
  display: block;

}


.right-box img {
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
 
.right-box img:hover {
  -webkit-transform: rotate(-10deg);
  border: 2px solid #66d808;
  box-shadow: 0 0 1px #b3ff51, 0 0 2px #b3ff51, 0 0 6px #b3ff51, 0 0 12px #b3ff51, inset 0 0 1px #b3ff51, inset 0 0 2px #b3ff51, inset 0 0 6px #b3ff51, inset 0 0 12px #b3ff51;
  -moz-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
   -ms-transform: rotate(-10deg);
       transform: rotate(-10deg);
}


